@page "/"

<PageTitle>PhotoShare</PageTitle>
<div class="intro">
    <h1>Teilt euere Fotos mit der Welt</h1>
    <div class="text">
    Photoshare erlaubt euch ein einfaches und effizientes Austauschen von Fotos.
    Einfach eine Gruppe erstellen, Link teilen und jede/jeder kann über den Link ihre/seine Fotos hochladen, sowie jene der anderen Gruppemitglieder:innen herunterladen
    </div>
</div>
<div class="d-inline-flex w-100">
    <div class="left d-flex flex-column w-50 m-3 border rounded">
        <PhotoShare.Client.Components.Groups.GroupCreation/>
    </div>
    <div class="right d-flex w-50 m-3 border rounded">
        <PhotoShare.Client.Components.Groups.GroupSearch isVertical=true />
    </div>
</div>

