<div class="top-row ps-3 navbar-nav navbar-dark">
       <div class="nav-item px-3">
           <div class="d-inline-flex">
             <h4>Photoshare</h4>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="margin-left: 10px;">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            </div>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="group">
                <button class="btn btn-outline-success">
                <Radzen.Blazor.RadzenIcon Icon="add_circle" Style="vertical-align: bottom;" /> Gruppe erstellen
                </button>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <PhotoShare.Client.Components.Groups.GroupSearch isHeader=true />
        </div>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
