@page "/picture"
@inject HttpClient client;
@inject NotificationService notification;

<div class="d-inline-flex flex-row flex-lg-wrap">
<PictureUpload GroupId="@GroupId" OnChange="OnChange" />
@foreach(var picture in _picture?? new List<Shared.Models.PictureUIDto>()){
    <PictureCard pictureUI="@picture"  adminKey="@AdminKey" OnChange="OnChange"/>
}
</div>