p {
	font-size: 0.75rem;

	@media screen and (max-width: 768px ) {
		margin-block-end: 0.1em;
	}

	@media screen and (max-width: 576px ) {
		font-size: 0.6rem;
		margin-block-end: 0em;
	}
}


.selected {
	border: 2px solid black;
}


