@inject LocalApplicationStorageHandler localStorage;
@inject HttpClient http;
@inject StreamHandler streamHandler;
@inject StateContainer container;
@inject NotificationService notification;

<Radzen.Blazor.RadzenCard Style="width: 275px; height:275px;">
    <EditForm Model="typeof(IReadOnlyCollection<IBrowserFile>)">
        <div Style="height: 200px; width: 200 px;" onclick="document.getElementById('file').click()">
            <Radzen.Blazor.RadzenIcon Icon="add" Style="height: 200px; width: 200px; font-size: 200px;"></Radzen.Blazor.RadzenIcon>
        </div>
        <InputFile id="file" OnChange="@LoadFiles" multiple accept="image/*" hidden></InputFile>
        <Radzen.Blazor.RadzenTextBox  @bind-Value="@Uploader" Name="Uploader" Placeholder="Gib hier deinen Namen ein"/>
    </EditForm>
</Radzen.Blazor.RadzenCard>

@code {
    
}